@import "./common.css";
@import "./header.css";
@import "./footer.css";


#home {
  padding-top: 50px;

  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-top h1 {
  padding-top: 150px;
  max-width: 457px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 125.5%;
  color: #ffffff;
}

.home-top p {
  padding-top: 20px;
  padding-bottom: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  max-width: 456px;
  color: #8b8e99;
}

.home-right {
  justify-self: end;
  padding-top: 100px;
  padding-bottom: 142px;
}

.home-right img {
  max-width: 100%;
}
.home-bottom {
  position: relative;
  max-width: 443px;
}

.home-bottom button {
  position: absolute;
  top: 7px;
  left: 320px;
  width: 112px;

  padding: 15px 16px;
  border: none;
  background: #3858d6;
  border-radius: 9px;
}

.home-bottom input {
  width: 100%;
  padding: 20px 56px;
  background: #ffffff;
  border-radius: 15px;
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
  background-image: url(../images/search.svg);
}

.home-bottom input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: rgba(139, 142, 153, 0.7);
}

/* --brads section -- */

#brandis {
  /* background-color: var(--posion-color); */
}

.brads-row {
  display: grid;
  padding-top: 73px;
  padding-bottom: 135px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.card {
  display: flex;
  padding: 45px 30px 45px 40px;
  background-color: var(--about-color);
  border-radius: 22px;
}

.card-content {
  margin-left: 26px;
}

.card-left img {
  max-width: 100%;
}

.card-content h2 {
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  color: #1e1d1d;
  font-size: 36px;
  line-height: 44px;
}

.card-content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: 173px;
  color: #8b8e99;
}

/* --resent start-- */

.resent-top {
  text-align: center;
  padding-bottom: 65px;
}

.resent-top p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #3858d6;
}

.resent-top h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #1e1d1d;
}

.card-resent {
  position: relative;
  overflow: hidden;
}

.img-reset img {
  width: 100%;
}

.reset-end {
  margin-top: 11px;
  text-align: center;
}
.img-reset {
  padding: 42px 28px;
  text-align: center;
  background-color: var(--about-color);
}

.hover i {
  position: absolute;
  top: 10px;
  padding: 7px;
  font-size: 20px;
  right: -40px;
  color: white;
  border-radius: 50%;
  background-color: #3858d6;
  transition: 0.5s;
}
.card-resent:hover .hover i,
.card-resent:hover .hover-2 i {
  right: 10px;
}

.hover-2 i {
  position: absolute;
  top: 60px;
  font-size: 20px;
  padding: 6px;
  right: -40px;
  color: white;
  border-radius: 50%;
  background-color: #ff6b6b;
  transition: 0.5s;
}

.reset-end ul {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}

.reset-end p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1e1d1d;
}

.reset-end h4 {
  padding-bottom: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;
  color: #8b8e99;
}

span {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120.5%;
  color: #000000;
}

.resent-row {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 64px;
  padding-bottom: 70px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.reset-bottom {
  text-align: center;
  padding-bottom: 135px;
}

.reset-bottom button {
  background: #3858d6;
  border-radius: 15px;
  border: none;
  padding: 10px 40px;
  max-width: 184px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

/* --about-- start-- */
.about-row {
  display: grid;
  margin-top: 135px;
  margin-bottom: 90px;
  padding: 33px 110px 43px 0;
  background: #f6f6f6;
  border-radius: 22px;
  grid-template-columns: 2fr 1fr;
}

.about-left {
  justify-self: start;
  /* padding: 107px 178px 117px 97px; */
  margin-top: 107px;
  margin-left: 97px;
}

.about-right {
  /* justify-self: end; */
  margin-left: 197px;
}

.about-left-top h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  /* max-width: 547px; */
  font-size: 36px;
  line-height: 44px;
  color: #1e1d1d;
}

.about-left-top p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  max-width: 537px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 19px;
  color: #8b8e99;
}

.btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125.5%;
  border: none;
  padding: 12px 10px;
  background: #3858d6;
  border-radius: 9px;
  text-align: center;

  color: #ffffff;
}

.text-input {
  max-width: 443px;
  position: relative;
}

.text-input input {
  padding: 20px 0 20px 30px;
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  border: none;
}

footer {
  background: #0B0B0B;
  padding: 23px 0;
}

.finish p {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 125.5%;
  color: #ffffff;
}

@media (max-width: 950px) {
  .home-container {
    grid-template-columns: 1fr;
  }

  .home-left,
  .home-right {
    justify-self: start;
  }
  .about-row {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .about-left h1 {
    font-size: 25px;
  }

  .about-left {
    padding-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .brads-row {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .resent-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  
}

@media (max-width: 500px) {
  .resent-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
 .splide__track{
  display: none;
 }
  
}
